.bg-content {
  background: #f3f3f4;
}
.bg-nav {
  background: #2f4050 !important;
}

.icon-bg {
  background: #1ab394;
}
.icon-bg:hover {
  background: #13836d;
}

.text-grey {
  color: #888888 !important;
}
.extra-small {
  font-size: 12px;
}
.text-grey-dark {
  color: #5e5c5c;
}

.text-green {
  color: #1ab394;
}
a {
  text-decoration: none;
}
.extra-small-small {
  font-size: 10px !important;
}

.text-light-white {
  color: rgb(226, 218, 218);
}
.text-light-black {
  color: rgb(175, 172, 172);
}

.accordion-button:active {
  border: none;
}
.accordion-button:focus {
  border: none;
}
button {
  border: none;
}
.normal-text {
  font-size: 17px;
}
.nav-border {
  border-left: 5px solid #1ab394;
}
.custom-btn {
  width: 100%;
  text-align: left;
  padding: 0.25rem 1rem !important; 
}
.custom-btn:hover {
  background: #283744 !important;
  transition: 0.5s;
}
.padding-34em {
  padding-left: 3.4em !important;
}
.padding-34em:hover{
    color:white;
    transition: 0.1s;
}
.p-custom {
  padding-top: 1.5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.rotate {
  animation-name: rotateinfinte;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform: rotateZ(0deg);
}
@keyframes rotateinfinte {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.d-sm-block{
    transition: 1s !important;
}

.border-custom {
  top: 200px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  right: 0px;
}
.accordion-button:not(.collapsed){
    color: white !important;
    box-shadow: none !important;
    border-left: 5px solid #1ab394;
    background: #253a4d !important;
    transition: 0.4s;
}
.accordion-button:focus{
    box-shadow: none;
}

.accordion-button::after{
    background-image: url('/down.png');
}
.accordion-button:not(.collapsed)::after{
    background-image: url('/down.png');
}
.letter-spacing{
    letter-spacing: 0.6px !important;
}
.bg-nav-dark{
    background-color: #253a4d;
}



p{
  font-size: calc(12px + .3vw);
}

small{
  font-size: calc(10px + .2vw);
}

.search-input:focus{
  border: none !important;
}
input:focus{
  border: none !important;
}
.transition-sidenav{
  width: 0%;
  overflow: hidden;
  transition: width 1s;
  z-index: -1000 !important;
}
.transition-content{
  width: 100%;
  overflow: hidden;
  transition: width 1s;
}



@media screen and (max-width: 700px) {
  .p-custom {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 1rem !important;
  }
  .mobile-sidebar{
    position: fixed !important;
    top:0 !important;
    /* display: none; */
    overflow-x: hidden;
    overflow-y:auto;
    height: 100vh;
    z-index: 1000 !important;
  }
  .display-true{
    /* display: block; */
    width: 100vw !important;
    transition: width 1s !important;
  }
  .display-false{
    /* display: none; */
    width: 0vw !important;
    transition: width 1s !important;
  }
}